:root
{
	--headerHeight: 44px;
	--headerMobileSize: 100px;
}

*
{
	margin:0px;
	padding:0px;
}

html
{
	scroll-behavior: smooth;	
}

header
{
	position:fixed;
	width:100%;
	height:var(--headerHeight); 
	background-color: #313131;
	opacity: .99;		
}

body
{
	font-family: arial;
	color:black;
	background-color: #fafafa;
	text-align:center;
}

section
{
	padding: 70px 0;
	border-bottom-style: solid;
	border-bottom-color: white;
	border-bottom-width: 10px;
}

footer
{
	
	background: #f2f2f2;
	color:black;
	clear:both;
	color:grey;
	
}

h1
{
	font-size: 30px;
}

h4
{
	font-size: 10px;
}

p.center
{
	font-weight: bold;
	font-size: 17px;
	max-width: 50%;
	margin: 0 auto;
}

.headerlinks
{
	color: white;
	text-decoration: none;
	padding: 3%;
}

.roundedBorder
{
	margin:auto;
	max-width: 100px;
	color: #505050;
	padding:7px;
	border: 1px solid #505050;
	border-radius: 3px;
}

.headerDiv
{
	line-height:var(--headerHeight);  /*Must match min-height in header*/	
	max-width:1600px;
	margin:auto;
}

.jobTitle
{
	font-size: 75%;
	font-weight: normal;
}

.InlineLI
{
	display:inline;
}

#dropDown
{
	display: inline;
}

#DropDownButton
{
	display:none;
}

#section1
{
	padding-top:100px;
}

#HeaderImage
{
	max-height:20px;
	vertical-align:sub;
}

#closeDropDownButton
{
	display: none;
}

@media (max-width: 1030px)
{
	header
	{
		height:var(--headerMobileSize);	
	}

	section
	{
		padding-top: calc(var(--headerMobileSize)*1.5);
		padding-bottom: calc(var(--headerMobileSize)*1.5);
	}

	.InlineLI
	{
		display: block;
		height: 150px;
		font-size: 150%;
	}

	p.center
	{
		max-width: 75%;
	}

	#section1
	{
		padding-top:200px;
	}

	#DropDownButton
	{
		display: block;
		position: fixed;
		left:10px;
		z-index: 1;
		float:left;
		color: #fafafa;
		font-size: 400%;
		padding-left:10px;
		line-height: var(--headerMobileSize);
		text-decoration: none;
	}

	#HeaderImage
	{
		height:var(--headerMobileSize);
		max-height: var(--headerMobileSize);
		/*max-height: 100px;*/
		/*Center verticaly*/
	}
	#dropDown
	{
		width: 100%;
		height: 0;
		position: fixed;
		z-index: 1;
		left: 0;
		top: 0;
		background-color: rgb(0,0,0); /* Black fallback color */
  		background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
 	 	overflow-x: hidden; /* Disable horizontal scroll */
		transition: 0.5s;
		/*visibility: hidden;*/
		display:block;
	}	
	#headerLinkList
	{
		margin-top: calc(var(--headerMobileSize)*1.5);
	}
	#closeDropDownButton
	{
		position: absolute;
		top: 20px;
		right: 45px;
		font-size: 60px;
		color:white;
		display: block;
	}	
	
	#DropDownsection #DropDownButton:hover .InlineLI
	{
		cursor:pointer;
		visibility:visible;
	}	
}


